name: selfpath
description: "selfXP, lifeXP, futureXP"

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider:
  flutter_screenutil: ^5.9.3
  country_flags: ^4.1.1
  easy_localization: ^3.0.8
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/translations/
    - assets/images/
    - assets/icons/

